@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

$font-family: "Montserrat", sans-serif;
$hand-writing: "Great Vibes", cursive;

@mixin heading-bold {
  font-family: "Montserrat", sans-serif;
}

@mixin body-light {
  font-family: "Montserrat", sans-serif;
}
