/*--------------------------------------------
# Highlights
--------------------------------------------*/
$tangerine: #de6262;
$salmon: #ffb88c;
$body-light: #fceded;
$body-dark: #5e5e5e;
$black: #1b1b1b;
/*--------------------------------------------
# Backgrounds
--------------------------------------------*/

$dark-bg: #272828;
$white: #ffffff;

/*--------------------------------------------
# Iconography
--------------------------------------------*/
