.bckgrnd {
  background-color: $black;
}
.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;

  .icon-group {
    display: flex;
    justify-content: center;

    a {
      color: $body-light;
      padding: 0 1em 1em;

      i {
        font-size: 20px;
      }
    }
  }

  .info-box {
    display: flex;
    justify-content: center;

    color: $body-light;
    font-family: $font-family;
  }
}
